asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.6
Django==4.1
django-cors-headers==3.14.0
django-filter==22.1
django-stdimage==6.0.1
djangorestframework==3.14.0
drf-yasg==1.21.5
filelock==3.12.0
idna==3.4
importlib-metadata==6.6.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
Markdown==3.4.3
MarkupSafe==2.1.2
packaging==23.1
pgsql==1.2
Pillow==9.5.0
platformdirs==3.5.1
psycopg2==2.9.6
pytz==2023.2
requests==2.31.0
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
sqlparse==0.4.3
uritemplate==4.1.1
urllib3==2.0.2
virtualenv==20.23.0
zipp==3.15.0
